  <div class="container">
    <div class="jumbotron">
      <h1>Boot Camp Developers Forum</h1>
      <p>Click a topic below to connect with Like-Minded Developers</p>
    </div>
    <div class="col-xs-6 col-md-12 col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Forum Topics</h3>
        </div>
        <div class="panel-body">
        <ul class="messages_list">
          {{#each topic}}
      <div class="panel panel-default">
    <a href="/forum/{{topic}}"><div class="panel-heading">
      <h3 class="panel-title .hoverable"><font color="#0F0F16">{{topic}}</h3></font>
    </div></a>
          </div>
          {{/each}}
               </div>
      </div>
    </div>
  </div>