  <div class="container">
    <div class="jumbotron">
      <h1>Like Minded Forum</h1>
      <p>Add your own message below</p>
    </div>
    <div class="col-xs-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">New Message</h3>
        </div>
        <div class="panel-body">
         <form>
            <div class="row">
              <input type="text" id="new-topic" placeholder="Write Your Title Here...">
              <br>
              <textarea type="text" id="new-post" placeholder="Write Your Message Here..."></textarea>
              <br>
              <input type="text" id="new-name" placeholder="Write Your Author Here...">
            </div>
            <div class="row">
              <button type="submit" class="btn-primary add-new-thread">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>