  <div class="container">
    <div class="jumbotron">
      <h1>Like Minded Forum</h1>
      <p>See Below for all the messages about {{topic}}</p>
    </div>
    <div class="col-xs-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Posts</h3>
        </div>
        <div class="panel-body">
        <ul class="messages_list">
        {{#each thread_message}}
          <li>{{thread_message}}</li>
          {{/each}}
        </div>
      </div>
    </div>
  </div>