  <div class="container">
    <div class="jumbotron">
      <h1>Like Minded Forum</h1>
      <p>See Below for all the messages about {{topic}}</p>
    </div>
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Posts</h3>
        </div>
      <div class="panel-body">
        <ul class="messages_list">
          {{#each thread_message}}
      <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><font color="#0F0F16">User Post</h3></font>
    </div>
   <div class="panel-body">
      {{thread_message}}
    </div>
          </div>
          {{/each}}
               </div>
          </div>
      </div> 
</div>