  <div class="container">
    <div class="jumbotron">
      <p>New Thread Form</p>
      <form>
        {{!-- req.body.topic name defines the property --}}
        <p>Title:</p>
        <input class='thread-title' type="text" name="thread_title">
        <p>Topic:</p>
        <input class='topic' type="text" name="topic" value="{{{last}}}" style="color:black" readonly>
        <p>Author: </p>
        <input class='author' type="text" name="author">
        <button class="submit-button" type="submit">Submit</button>
      </form>
    </div>
    <div class="col-xs-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Current Threads</h3>
        </div>
        <div class="panel-body">
        <ul class="messages_list">
          {{#each thread}}
      <div class="panel panel-default">
    <div class="panel-heading">

    <h3 class="panel-title .hoverable"><font color="#0F0F16"><a href="/forum/{{{last}}}/{{DISTINCT}}">{{DISTINCT}}</a></font></h3>
    
    </div>
          </div>
          {{/each}}
               </div>
      </div>
    </div>
  </div>
    <script type="text/javascript" src="/assets/js/threads.js"></script>
