  <div class="container">
    <div class="jumbotron">
      <p><a class="btn btn-primary btn-lg" href="./newthread.html" role="button">Add a new Thread</a></p>
    </div>
    <div class="col-xs-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Current Threads</h3>
        </div>
        <div class="panel-body">
        <ul class="messages_list">
          {{#each post}}
      <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title .hoverable"><font color="#0F0F16"><a href="/forum/{{topic}}/{{thread_title}}">{{thread_title}}</a></h3></font>
    </div>
          </div>
          {{/each}}
               </div>
      </div>
    </div>
  </div>