/*Main Body*/

.main-body {}

.navbar {
    border-radius: 0px;
}

.navbar-brand {
    padding: 5px 16px;
}

.navbar-brand > img {
    display: inline;
}

.navbar-text {
    /*font-family: 'Dancing Script', cursive;*/
    font-size: 30px
}

.sign-in {
    text-align: center;
}

.login-info {
    text-align: center;
}

.create-account {
    font-family: 'Dancing Script', cursive;
    font-size: 14px;
}

#div-login-msg {
    font-size: 40px;
}

.modal-body {
    margin-bottom: 20px;
}

.jumbotron {
    text-align: center;
    color: #fff;
    background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, 0.4)), url("/img/code2.png");
}

.form-inline .form-group {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 15px;
}

.form-inline .control-label {
    margin-left: 7px;
}


/*.form-group.author-submit {
    padding-bottom: 100px;
}*/

.panel-footer {
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.modal-header {
    background-color: #337ab7;
}

.vision {
    text-align: left
}

.loading-image {
    display: none;
    width: 50px;
}


/*Posts.handlebars*/


/*@media (min-width: 992px) .col-md-offset-3 {
    margin-left: 0%
}*/
