.navbar {
    border-radius: 0px;
}

.navbar-text {
    font-family: 'Dancing Script', cursive;
    font-size: 25px
}

.sign-in {
    text-align: center;
}

.login-info {
    text-align: center;
}

.create-account {
    font-family: 'Dancing Script', cursive;
    font-size: 14px;
}

.jumbotron {
    text-align: center;
}

.panel-footer {
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

body {
    /*background-image: url(../images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ECE9E6, #FFFFFF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #B5C8EC, #FFFFFF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.vision {
    text-align: left
}

.loading-image {
    display: none;
    width: 50px;
}


/*Posts.handlebars*/


/*@media (min-width: 992px) .col-md-offset-3 {
    margin-left: 0%
}*/
